@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

* {
  transition: all;
  transition-duration: 400ms;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-ibm: "IBM Plex Sans", sans-serif;
}

body {
  @apply m-0;
  font-family: "IBM-sans", sans-serifs;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
